DIR_PATH="path to directory"
ENV_FILE=$DIR_PATH/.env
LOG_FILE=$DIR_PATH/log.txt
SCRIPT=$DIR_PATH/craiglist.py

# Every monday at 4:00 am
0 4 * * 1 tmux new-session -d ". $ENV_FILE ; python3 -u $SCRIPT | tee $LOG_FILE"
